POSTGRES_DB=ims_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ayoub789632145
IMS_API_PORT=8081
Jwt__Key=CHANGE_ME_TO_A_CRYPTOGRAPHICALLY_RANDOM_KEY_AT_LEAST_32_BYTES
Jwt__Issuer=IMS
Jwt__Audience=IMS.API
Jwt__ExpirationMinutes=30

SeedAdmin__Email=admin@gmail.com
SeedAdmin__Password=ayoub789632145
