POSTGRES_DB=ims_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ayoub789632145
IMS_API_PORT=8081
Jwt__Key=IMS_Ayoub_2026_X9pL7vQ2mN8kR4tZ
Jwt__Issuer=IMS
Jwt__Audience=IMS.API
Jwt__ExpirationMinutes=30

SeedAdmin__Email=ayoub576@gmail.com
SeedAdmin__Password=Ayoub789632145@
